################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BankSystem/.vs/BankSystem/FileContentIndex/12f40e9a-f856-4cad-926c-aed1a818db81.vsidx
/BankSystem/.vs/BankSystem/FileContentIndex/5ffb061a-9652-4f64-aa86-c9a418a8fcb5.vsidx
/BankSystem/.vs/BankSystem/FileContentIndex/7263dbab-113d-491f-8089-13e99147d8c2.vsidx
/BankSystem/.vs/BankSystem/FileContentIndex/a49f4d67-6e4c-4232-bf86-8825757718de.vsidx
/BankSystem/.vs/BankSystem/FileContentIndex/f9c696d7-e8aa-4347-98bf-0b8c4f0a07a1.vsidx
/BankSystem/.vs/BankSystem/FileContentIndex
